/***** Footer *****/
.footer {
  margin-top: 4rem;
  padding: 1rem 0;

  a, span {
    color: $brand_text_color;
  }

  &-inner {
    @include max-width-container;
    @include tablet {
      flex-direction: row;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &-language-selector button {
    color: $secondary-text-color;
    display: inline-block;
  }
}

.powered-by-zendesk {
  a,
  a:visited {
    color: $secondary-text-color;
  }
}
